<div>
    <a routerLink="/createRate" class="nav-link">Добавить</a>
</div>
<table class="table" id="customers">
    <thead>
        <tr>
            <th>id</th>
            <th>Тариф</th>
            <th>Значение</th>
            <th>Дествует с</th>
            <th>По</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of rates">
            <td>{{r?.id}}</td>
            <td>{{r?.name}}</td>
            <td>{{r?.value}}</td>
            <td>{{r?.from}}</td>
            <td>{{r?.to}}</td>
        </tr>
    </tbody>
</table>
<a routerLink="/" class="nav-link">Назад к списку</a>