<div class="form-group">
    <label>Тариф</label>
    <input type="text" [(ngModel)]="rate.Name" class="form-control" />
</div>
<div class="form-group">
    <label>Значение</label>
    <input type="text" [(ngModel)]="rate.Value" class="form-control" />
</div>
<div class="form-group">
    <label>Дествует с</label>
    <input type="text" [(ngModel)]="rate.From" class="form-control" />
</div>
<div class="form-group">
    <label>По</label>
    <input type="text" [(ngModel)]="rate.To" class="form-control" />
</div>
