<table class="table" id="customers">    

        <tr>
            <th></th>
            <th>UserId</th>
            <th>Предыдущие данные</th>
            <th>Новые данные</th>
            <th>Расход</th>
            <th>Нужно оплатить</th>
        </tr>
           
        <tr *ngFor="let s of summarys">
            <td></td>
            <td>{{s?.userId}}</td>
            <td>{{s?.previousTestimony}}</td>
            <td>{{s?.recentTestimony}}</td>
            <td>{{s?.consumption}}</td>
            <td>{{s?.necessaryToPay}}</td>
        </tr>
    <tr>
        <th>Суммарный долг:</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>необходимо еще оплатить</td>
    </tr>
</table>