<div class="form-group">
    <label>UserId</label>
    <input type="text" [(ngModel)]="history.userId" class="form-control" />
</div>
<div class="form-group">
    <label>PlotId</label>
    <input type="text" [(ngModel)]="history.plotId" class="form-control" />
</div>
<div class="form-group">
    <label>Дествует с</label>
    <input type="text" [(ngModel)]="history.from" class="form-control" />
</div>
<div class="form-group">
    <label>По</label>
    <input type="text" [(ngModel)]="history.to" class="form-control" />
</div>
