<div class="form-group">
    <label>UserId</label>
    <input type="text" [(ngModel)]="history.UserId" class="form-control" />
</div>
<div class="form-group">
    <label>PlotId</label>
    <input type="text" [(ngModel)]="history.PlotId" class="form-control" />
</div>
<div class="form-group">
    <label>Дествует с</label>
    <input type="text" [(ngModel)]="history.From" class="form-control" />
</div>
<div class="form-group">
    <label>По</label>
    <input type="text" [(ngModel)]="history.To" class="form-control" />
</div>
