<div>
    <a routerLink="/createHistory" class="nav-link">Добавить</a>

</div>
<table class="table" id="customers">
    <thead>
        <tr>
            <th>Id</th>
            <th>UserId</th>
            <th>PlotId</th>
            <th>Дествует с</th>
            <th>По</th>

            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of historys">
            <td>{{p?.id}}</td>
            <td>{{p?.userId}}</td>
            <td>{{p?.plotId}}</td>
            <td>{{p?.from}}</td>
            <td>{{p?.to}}</td>
            <td>
                <a [routerLink]="['/editHistory', p.id]" class="btn btn-sm btn-primary">Изменить</a>
                <button (click)="delete(p.id)" class="btn btn-sm btn-danger">Удалить</button>
            </td>
        </tr>
    </tbody>
</table>
<a routerLink="/" class="nav-link">Назад к списку</a>