<div>
    <a routerLink="/createElectricity" class="nav-link">Добавить</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <td>id</td>
            <td>Год</td>
            <td>Месяц</td>
            <td>Предыдущие данные</td>
            <td>Новые данные</td>
            <td>Потери</td>
            <td>Банковский сбор</td>
            <td>Нужно оплатить</td>
            <td>Оплачено</td>
            <td>Тариф</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of electricitys">
            <td>{{e?.id}}</td>
            <td>{{e?.year}}</td>
            <td>{{e?.mounth}}</td>
            <td>{{e?.previousTestimony}}</td>
            <td>{{e?.recentTestimony}}</td>
            <td>{{e?.losses}}</td>
            <td>{{e?.bankCollections}}</td>
            <td>{{e?.necessaryToPlay}}</td>
            <td>{{e?.paid}}</td>
            <td>{{e?.rateId}}</td>
            <td>
                <a [routerLink]="['edit', e.id]" class="btn btn-sm btn-primary">Изменить</a>
                <button (click)="delete(e.id)" class="btn btn-sm btn-danger">Удалить</button>
            </td>
        </tr>
    </tbody>
</table>