<div>
    <a routerLink="/createElectricity" class="nav-link">Добавить</a>
</div>
<table class="table" id="customers">
    <thead>
        <tr>
            <th>id</th>
            <th>Год</th>
            <th>Месяц</th>
            <th>Предыдущие данные</th>
            <th>Новые данные</th>
            <th>Потери</th>
            <th>Банковский сбор</th>
            <th>Нужно оплатить</th>
            <th>Оплачено</th>
            <th>Тариф</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of electricitys">
            <td>{{e?.id}}</td>
            <td>{{e?.year}}</td>
            <td>{{e?.mounth}}</td>
            <td>{{e?.previousTestimony}}</td>
            <td>{{e?.recentTestimony}}</td>
            <td>{{e?.losses}}</td>
            <td>{{e?.bankCollections}}</td>
            <td>{{e?.necessaryToPlay}}</td>
            <td>{{e?.paid}}</td>
            <td>{{e?.rateId}}</td>
            <td>
                <a [routerLink]="['/editElectricity', e.id]" class="btn btn-sm btn-primary">Изменить</a>
                <a [routerLink]="['/api/electricitys/GetRateInfo', e.id]" class="btn btn-sm btn-primary">Подробнее о тарифе</a>

                <button (click)="delete(e.id)" class="btn btn-sm btn-danger">Удалить</button>

            </td>
        </tr>
    </tbody>
</table>