<div class="form-group">
    <label>Год</label>
    <input type="text" [(ngModel)]="electricity.Year" class="form-control" />
</div>
<div class="form-group">
    <label>Месяц</label>
    <input type="text" [(ngModel)]="electricity.Mounth" class="form-control" />
</div>
<div class="form-group">
    <label>Предыдущие данные</label>
    <input type="text" [(ngModel)]="electricity.PreviousTestimony" class="form-control" />
</div>
<div class="form-group">
    <label>Новые данные</label>
    <input type="text" [(ngModel)]="electricity.RecentTestimony" class="form-control" />
</div>
<div class="form-group">
    <label>Потери</label>
    <input type="text" [(ngModel)]="electricity.Losses" class="form-control" />
</div>
<div class="form-group">
    <label>Банковский сбор</label>
    <input type="text" [(ngModel)]="electricity.BankCollections" class="form-control" />
</div>
<div class="form-group">
    <label>Нужно оплатить</label>
    <input type="text" [(ngModel)]="electricity.NecessaryToPlay" class="form-control" />
</div>
<div class="form-group">
    <label>Оплачено</label>
    <input type="checkbox" [(ngModel)]="electricity.Paid" class="form-control" />
</div>
<div class="form-group">
    <label>Тариф</label>
    <input type="text" [(ngModel)]="electricity.RateId" class="form-control" />
</div>