<div class="form-group">
    <label>Год</label>
    <input type="text" [(ngModel)]="electricity.year" class="form-control" />
</div>
<div class="form-group">
    <label>Месяц</label>
    <input type="text" [(ngModel)]="electricity.mounth" class="form-control" />
</div>
<div class="form-group">
    <label>Предыдущие данные</label>
    <input type="text" [(ngModel)]="electricity.previousTestimony" class="form-control" />
</div>
<div class="form-group">
    <label>Новые данные</label>
    <input type="text" [(ngModel)]="electricity.recentTestimony" class="form-control" />
</div>
<div class="form-group">
    <label>Потери</label>
    <input type="text" [(ngModel)]="electricity.losses" class="form-control" />
</div>
<div class="form-group">
    <label>Банковский сбор</label>
    <input type="text" [(ngModel)]="electricity.bankCollections" class="form-control" />
</div>
<div class="form-group">
    <label>Нужно оплатить</label>
    <input type="text" [(ngModel)]="electricity.necessaryToPlay" class="form-control" />
</div>
<div class="form-group">
    <label>Оплачено</label>
    <input type="text" [(ngModel)]="electricity.paid" class="form-control" />
</div>
<div class="form-group">
    <label>Тариф</label>
    <input type="text" [(ngModel)]="electricity.rateId" class="form-control" />
</div>