<div>
    <a routerLink="/create" class="nav-link">Добавить</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Имя</td>
            <td>Фамилия</td>
            <td>Отчество</td>
            <td>Адрес</td>
            <td>Телефон</td>
            <td>Электроэнергия</td>
            <td>Дополнительная информация</td>
            <td>Статус</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of users">
            <td>{{u?.FirstName}}</td>
            <td>{{u?.LastName}}</td>
            <td>{{u?.MiddleName}}</td>
            <td>{{u?.Address}}</td>
            <td>{{u?.Phone}}</td>
            <td>{{u?.SuppliedElectricity}}</td>
            <td>{{u?.AdditionalInformation}}</td>
            <td>{{u?.Status}}</td>
            <td>
                <a [routerLink]="['edit', u.id]" class="btn btn-sm btn-primary">Изменить</a>
                <button (click)="delete(u.id)" class="btn btn-sm btn-danger">Удалить</button>
            </td>
        </tr>
    </tbody>
</table>