<div class="form-group">
    <label>Площадь</label>
    <input type="text" [(ngModel)]="plot.Area" class="form-control" />
</div>
<div class="form-group">
    <label>Приватизирована</label>
    <input type="checkbox" [(ngModel)]="plot.Privatized" class="form-control" />
</div>
<div class="form-group">
    <label>UserId</label>
    <input type="text" [(ngModel)]="plot.UserId" class="form-control" />
</div>
<div class="form-group">
    <label>ElectricityId</label>
    <input type="text" [(ngModel)]="plot.ElectricityId" class="form-control" />
</div>

