<div class="form-group">
    <label>Имя</label>
    <input type="text" [(ngModel)]="user.FirstName" class="form-control" />
</div>
<div class="form-group">
    <label>Фамилия</label>
    <input type="text" [(ngModel)]="user.LastName" class="form-control" />
</div>
<div class="form-group">
    <label>Отчество</label>
    <input type="text" [(ngModel)]="user.MiddleName" class="form-control" />
</div>
<div class="form-group">
    <label>Адрес</label>
    <input type="text" [(ngModel)]="user.Address" class="form-control" />
</div>
<div class="form-group">
    <label>Телефон</label>
    <input type="text" [(ngModel)]="user.Phone" class="form-control" />
</div>
<div class="form-group">
    <label>Подведено электричество</label>
    <input type="checkbox" [(ngModel)]="user.SuppliedElectricity" class="form-control" />
</div>
<div class="form-group">
    <label>Дополнительная информация</label>
    <input type="text" [(ngModel)]="user.AdditionalInformation" class="form-control" />
</div>
<div class="form-group">
    <label>Статус владения</label>
    <input type="checkbox" [(ngModel)]="user.Status" class="form-control" />
</div>
