<div>
    <a routerLink="/create" class="btn sa-ga-btn--green">Добавить</a>
    <a routerLink="/summary" class="btn sa-ga-btn--green">Сумма</a>
    <a routerLink="/plot" class="btn sa-ga-btn--lightslategray">Участки</a>
    <a routerLink="/rates" class="btn sa-ga-btn--darkgray">Тарифы</a>
    <a routerLink="/electricitys" class="btn sa-ga-btn--lightslategray">Электроэнергия</a>
    <a routerLink="/history" class="btn sa-ga-btn--darkgray">История</a>
    <a routerLink="" class="btn sa-ga-btn--darkgray">Все члены</a>
    <a routerLink="/getActiveUsers" class="btn sa-ga-btn--darkgray">Активные члены</a>
    <a routerLink="/getNotActiveUsers" class="btn sa-ga-btn--darkgray">Бывшие члены</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <td>id</td>
            <td>Имя</td>
            <td>Отчество</td>
            <td>Фамилия</td>
            <td>Адрес</td>
            <td>Телефон</td>
            <td>Электроэнергия</td>
            <td>Дополнительная информация</td>
            <td>Статус</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of users">
            <td>{{u?.id}}</td>
            <td>{{u?.firstName}}</td>
            <td>{{u?.middleName}}</td>
            <td>{{u?.lastName}}</td>
            <td>{{u?.address}}</td>
            <td>{{u?.phone}}</td>
            <td>{{u?.suppliedElectricity}}</td>
            <td>{{u?.additionalInformation}}</td>
            <td>{{u?.status}}</td>
            <td>
                <button [routerLink]="['/edit', u.id]" class="btn btn-sm btn-primary">Изменить</button>
                <button [routerLink]="['/getPlots', u.id]" class="btn btn-sm btn-primary">Участки</button>
                <button (click)="delete(u.id)" class="btn btn-sm btn-danger">Удалить</button>
                <!--<button type="button" class="button"><span>Hover Btn </span> </button>-->
            </td>
        </tr>

        <!--<dropdown>
            <dropdown-item>Item 1</dropdown-item>
            <dropdown-item>Item 2</dropdown-item>
            <dropdown>-->

</tbody>
</table>