<link href='../../style/app.component.css' type='text/css' rel='stylesheet' />

<div>
    <a routerLink="/create" class="btn sa-ga-btn--green">Добавить</a>
    <a routerLink="/summary" class="btn sa-ga-btn--green">Сумма</a>
    <a routerLink="/plot" class="btn sa-ga-btn--lightslategray">Участки</a>
    <a routerLink="/rates" class="btn sa-ga-btn--darkgray">Тарифы</a>
    <a routerLink="/electricitys" class="btn sa-ga-btn--lightslategray">Электроэнергия</a>
    <a routerLink="/history" class="btn sa-ga-btn--darkgray">История</a>
</div>
<div>
    <a routerLink="" class="btn sa-ga-btn--darkgray">Все члены</a>
    <a routerLink="/getActiveUsers" class="btn sa-ga-btn--darkgray">Активные члены</a>
    <a routerLink="/getNotActiveUsers" class="btn sa-ga-btn--darkgray">Бывшие члены</a>
</div>
<table class="table" id="customers">
    <thead>
        <tr>
            <th>id</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Фамилия</th>
            <th>Адрес</th>
            <th>Телефон</th>
            <th>Электроэнергия</th>
            <th>Дополнительная информация</th>
            <th>Статус</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of users">
            <td>{{u?.id}}</td>
            <td>{{u?.firstName}}</td>
            <td>{{u?.middleName}}</td>
            <td>{{u?.lastName}}</td>
            <td>{{u?.address}}</td>
            <td>{{u?.phone}}</td>
            <td> {{u?.viewSuppliedElectricity}}</td>

            <td>{{u?.additionalInformation}}</td>
            <td>{{u?.viewStatus}}</td>
            <td>
                <button [routerLink]="['/edit', u.id]" class="btn btn-sm btn-primary">Изменить</button>
                <button [routerLink]="['/getPlots', u.id]" class="btn btn-sm btn-primary">Участки</button>
                <button (click)="delete(u.id)" class="btn btn-sm btn-danger">Удалить</button>
            </td>
        </tr>

    </tbody>
</table>