<div>
    <a routerLink="/createPlot" class="nav-link">Добавить</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Площадь</td>
            <td>Приватизирована</td>
            <td>ElectricityId</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of plots">
            <td>{{p?.Area}}</td>
            <td>{{p?.Privatized}}</td>
            <td>{{p?.ElectricityId}}</td>
            <td>
                <a [routerLink]="['edit', p.id]" class="btn btn-sm btn-primary">Изменить</a>
                <button (click)="delete(p.id)" class="btn btn-sm btn-danger">Удалить</button>
            </td>
        </tr>
    </tbody>
</table>