<table class="table" id="customers">
    <thead>
        <tr>
            <th>id</th>
            <th>Площадь</th>
            <th>Приватизирована</th>
            <th>ElectricityId</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of plots">
            <td>{{p?.id}}</td>
            <td>{{p?.area}}</td>
            <td>{{p?.viewPrivatized}}</td>
            <td>{{p?.electricityId}}</td>
            <td>
                <a [routerLink]="['/getPlotElectricity', p.id]" class="btn btn-sm btn-primary">Электроэнергия</a>
            </td>
        </tr>
    </tbody>
</table>
<a routerLink="/" class="nav-link">Назад к списку</a>